rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    function isValidVoteDoc() {
      return request.resource.data.keys().hasOnly(['home', 'draw', 'away']) &&
        (!request.resource.data.keys().hasAny(['home']) || request.resource.data.home is int) &&
        (!request.resource.data.keys().hasAny(['draw']) || request.resource.data.draw is int) &&
        (!request.resource.data.keys().hasAny(['away']) || request.resource.data.away is int) &&
        (!request.resource.data.keys().hasAny(['home']) || request.resource.data.home >= 0) &&
        (!request.resource.data.keys().hasAny(['draw']) || request.resource.data.draw >= 0) &&
        (!request.resource.data.keys().hasAny(['away']) || request.resource.data.away >= 0);
    }

    match /votes/{matchId} {
      allow read: if true;
      // Public voting is allowed, but only for vote counters.
      allow create, update: if isValidVoteDoc();
      allow delete: if false;
    }

    match /finishedMatches/{matchId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
